<form class="planet-form" method="POST">
    <label for="name">Name of Planet:</label>
    <input type="text" id="name" value="{{planetData.name}}" name="name">

    <label for="age">Age (in billion years):</label>
    <input type="number" id="age" value="{{planetData.age}}" name="age">

    <label for="solarSystem">Solar System:</label>
    <input type="text" id="solarSystem" value="{{planetData.solarSystem}}" name="solarSystem">

    <label for="type">Type:</label>
    <select id="type" name="type">
        <option value="---" {{#if (eq planetData.type "---" )}}selected{{/if}}>---</option>
        <option value="Inner" {{#if (eq planetData.type "Inner" )}}selected{{/if}}>Inner</option>
        <option value="Outer" {{#if (eq planetData.type "Outer" )}}selected{{/if}}>Outer</option>
        <option value="Dwarf" {{#if (eq planetData.type "Dwarf" )}}selected{{/if}}>Dwarf</option>
    </select>

    <label for="moons">Moons (count):</label>
    <input type="number" id="moons" value="{{planetData.moons}}" name="moons">

    <label for="size">Size (in km):</label>
    <input type="number" id="size" value="{{planetData.size}}" name="size">

    <label for="rings">Rings:</label>
    <select id="rings" name="rings">
        <option value="---" {{#if (eq planetData.rings "---" )}}selected{{/if}}>---</option>
        <option value="Yes" {{#if (eq planetData.rings "Yes" )}}selected{{/if}}>Yes</option>
        <option value="No" {{#if (eq planetData.rings "No" )}}selected{{/if}}>No</option>
    </select>

    <label for="description">Description:</label>
    <textarea id="description" name="description" rows="4">{{planetData.description}}</textarea>

    <label for="image">Image URL:</label>
    <input type="url" id="image" value="{{planetData.imageUrl}}" name="imageUrl">

    <button type="submit">Add Planet</button>
</form>