<section class="profile-hero">
    <div class="container">
        <h2>User Profile</h2>
        <p>Welcome back, <span id="username">{{name}}</span> <strong id="email">( {{email}} )</strong></p>
    </div>
</section>

<section class="created-laptops">
    <div class="container">
        <h3>Created Laptops</h3>
        <div class="laptop-list">
            {{#each ownProducts}}
            <div class="laptop-item">
                <img src="{{this.imageUrl}}" alt="Laptop">
                <p><strong>Brand:</strong> {{this.brand}}</p>
                <p><strong>Model:</strong> {{this.model}}</p>
                <a href="/products/{{this._id}}/details" class="btn">View Details</a>
            </div>
            {{else}}
            <p class="no-post">You haven't created a post yet</p>
            {{/each}}
        </div>
    </div>
</section>

<section class="preferred-laptops">
    <div class="container">
        <h3>Preferred Laptops</h3>
        <div class="laptop-list">
            {{#each preferredProducts}}
            <div class="laptop-item">
                <img src="{{this.imageUrl}}" alt="Laptop">
                <p><strong>Brand:</strong> {{this.brand}}</p>
                <p><strong>Model:</strong> {{this.model}}</p>
                <a href="/products/{{this._id}}/details" class="btn">View Details</a>
            </div>
            {{else}}
            <p class="no-post">You haven't preferred any devices yet</p>
            {{/each}}
        </div>
    </div>
</section>