<form method="POST" class="cat-form">
    <h2>Edit Cat</h2>
    <label for="name">Name</label>
    <input name="name" type="text" id="name" value="{{catData.name}}">
    <label for="description">Description</label>
    <textarea name="description" id="description">{{catData.description}}</textarea>
    <label for="image">Image</label>
    <input name="imageUrl" type="text" id="image" value="{{catData.imageUrl}}">
    <label for="group">Breed</label>
    <select name="breed" id="group">
        {{#each breeds}}
        <option value="{{breed}}">{{breed}}</option>
        {{/each}}
    </select>
    <button>Edit Cat</button>
</form>